<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header id="header_style">
        <img src="../assets/images/logo_redvpngpreto.png" alt="logo grupo" width="128px" height="128px">
        <div></div>
        <nav>
            <ul id="style_ul">
                <li> <a class="style_a" href="#"> home</a></li>
                <li> <a class="style_a" href="#"> sobre</a></li>
                <li> <a class="style_a" href="#"> contatos</a></li>
                <li> <a class="style_a" href="#"> serviços</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>